@{
    ViewBag.Title = "Update Applicaiton Content";
}

    <h1 class="text-center">Update Application Content</h1><br />

    <form asp-controller="Admin" asp-action="UACarea" method="post" enctype="multipart/form-data">
        <input type ="text" asp-for ="addArea"/>
        <select asp-for ="deleteArea"/>
        <div class="well">

            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-3" style="text-align:center">
                    <h3>Area</h3>
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-7">

                    <label for="" class="control-label">Enter area</label>
                    <input type="text" value='' class="form-control" id="schoolName" placeholder="">

                </div>
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-2" style="padding-top:25px">
                    <button onclick="location = ''" type="button" class="btn btn-primary btn-md btn-block">Add</button>

                </div>
            </div>


            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-3" style="text-align:center">
                </div>
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-7">
                    <label for="" class="control-label">Choose area</label>
                    <select asp-for="newPickedAreaID" class="form-control">
                        <option value=""></option>
                        @foreach (Area a in Model.AllAreas)
                        {
                            if (Model.Area.AreaID == a.AreaID)
                            {
                                <option value="@a.AreaID" selected="selected">@a.AreaName</option>
                            }
                            else
                            {
                                <option value="@a.AreaID">@a.AreaName</option>
                            }
                        }

                    </select>

                </div>
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-2" style="padding-top:25px">
                    <button onclick="location = ''" type="button" class="btn btn-danger btn-md btn-block">Delete</button>
                </div>
            </div>
        </div>
        </form>

        <div class="well">
            <form asp-controller="Admin" asp-action="UACschool" method="post" enctype="multipart/form-data">
                <input type="text" asp-for="addSchool" />
                <select asp-for="deleteSchool" />
                <div class="row">
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-3" style="text-align:center">
                        <h3>School</h3>
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-7">

                        <label for="" class="control-label">Enter school name</label>
                        <input type="text" value='' class="form-control" id="schoolName" placeholder="">

                    </div>
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-2" style="padding-top:25px">
                        <button onclick="location = ''" type="button" class="btn btn-primary btn-md btn-block">Add</button>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-3" style="text-align:center">
                    </div>
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-7">
                        <label for="" class="control-label">Choose school name</label>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                            @foreach (School s in Model.SchoolsByArea)
                            {
                                if (Model.School.SchoolID == s.SchoolID)
                                {
                                    <option value="@s.SchoolID" selected="selected">@s.SchoolName</option>
                                }
                                else
                                {
                                    <option value="@s.SchoolID">@s.SchoolName</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-2" style="padding-top:25px">
                        <button onclick="location = ''" type="button" class="btn btn-danger btn-md btn-block">Delete</button>
                    </div>
                </div>
                </form>
</div>

<form asp-controller="Admin" asp-action="UACsport" method="post" enctype="multipart/form-data">
    <input type="text" asp-for="addSport" />
    <select asp-for="deleteSport" />

    <div class="well">
        <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-3" style="text-align:center">
                <h3>Sport</h3>
            </div>

            <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-7">

                <label for="" class="control-label">Enter sport</label>
                <input type="text" value='' class="form-control" id="schoolName" placeholder="">

            </div>
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-2" style="padding-top:25px">
                <button onclick="location = ''" type="button" class="btn btn-primary btn-md btn-block">Add</button>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-3" style="text-align:center">
            </div>
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-7">
                <label for="" class="control-label">Choose sport</label>
                <select name="" id="" class="form-control">
                    <option value=""></option>
                    @foreach (Sport s in Model.AllSports)
                    {
                        if (Model.Sport == s)
                        {
                            <option value="@s.SportID" selected="selected">@s.SportName</option>
                        }
                        else
                        {
                            <option value="@s.SportID">@s.SportName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-2" style="padding-top:25px">
                <button onclick="location = ''" type="button" class="btn btn-danger btn-md btn-block">Delete</button>
            </div>
        </div>

    </div>

</form>







