@model ApplicationSearchModel
@{
    ViewBag.Title = "Applications";
}

<h2>Application Status Information:</h2>

<table class="table table-responsive">
    <thead>
        <tr>
            <td class="bg-success col-xs-3" style="font-weight:bold;">Complete</td>
            <td class="bg-warning col-xs-3" style="font-weight:bold;">Pending Validation</td>
            <td class="bg-danger col-xs-3" style="font-weight:bold;">Incomplete Information</td>
        </tr>
    </thead>
</table>

    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-3">
            <select class="multiselect-ui form-control" multiple="multiple" id="Area" asp-for="Area">
                <option value="North Eugene">North Eugene</option>
            </select>
        </div>

        <div class="col-md-3">
            <select class="multiselect-ui form-control" multiple="multiple" id="School" asp-for="test">
                <option asp-for="test" value="Willamette High School">Willamette High School</option>
            </select>
        </div>

        <div class="col-md-3">
            <select class="multiselect-ui form-control" multiple="multiple" id="Sport" name="Sport">
                <option value="Football">Football</option>
            </select>
        </div>

        <div class="col-md-3">
            <select class="multiselect-ui form-control" multiple="multiple" id="Grade" name="Grade">
                <option value="Kindergarten">Kindergarten</option>
            </select>
        </div>
    </div>

<div class="row">
    <table class="table table-responsive table-striped">
        <tr>
            <td class=""></td>
            <td class="col-xs-3">Application Details</td>
            <td class="col-xs-3">Applicant Name</td>
            <td class="col-xs-3">Start Date</td>
            <td class="col-xs-3">Completion Date</td>
        </tr>

        @for (int i = 0; i < Model.filteredApps.Count; i++)
        {
            <tr>
                <th><input asp-for="@Model.filteredApps[i].HasContacted" type="checkbox" /></th>
                <td>
                    <a href='@Url.Action("ApplicantDetails", "Application", new { ApplicantID = Model.filteredUsers[i].Id })'>
                        @if (Model.filteredAppStatus[i].AppApprovalDate != null)
                        {
                            <input type="button" class="btn btn-success" value="View Details">
                        } else if (Model.filteredAppStatus[i].AppCompletionDate != null)
                        {
                            <input type="button" class="btn btn-warning" value="View Details">
                        } else
                        {
                            <input type="button" class="btn btn-danger" value="View Details">
                        }
                    </a>
                </td>
                <td> @Html.DisplayFor(modelItem => Model.filteredUsers[i].FirstName) @Html.DisplayFor(modelItem => Model.filteredUsers[i].LastName)</td>
                <td> @Html.DisplayFor(modelItem => Model.filteredAppStatus[i].AppStartDate) </td>
                <td> @Html.DisplayFor(modelItem => Model.filteredAppStatus[i].AppCompletionDate) </td>
            </tr>
        }
    </table>
</div>

<div class="pull-right" style="margin-top:50px">
    <button type="button" onclick="location = '/Application/CoachInfo'" class="btn btn-primary btn-md-10">Enter Applicant Manually</button>
</div>	

<script>
    $(document).ready(function () {
        $('select').change(function () {
            $.post("Applications", function () {

            });
         });
    });

   
</script>