@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization;

@model CoachInfoViewModel
@{
    ViewBag.Title = "Coach Info";
}

    <h1 class="text-center">Coach Information</h1><br />
    <div>
        <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
    </div>

    <form asp-controller="Application" asp-action="CoachInfo" method="post">
        <input type="hidden" asp-for="@Model.ApplicationID" value="@Model.ApplicationID" />
        <div class="well">
            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="FirstName" class="control-label">First Name<span style="color:red;">*</span></label>
                    <input asp-for="FirstName" class="form-control">
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">

                    <label asp-for="MiddleName" class="control-label">Middle Name<span style="color:red;">*</span></label>
                    <input asp-for="MiddleName" class="form-control">
                </div>
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">

                    <label asp-for="LastName" class="control-label">Last Name<span style="color:red;">*</span></label>
                    <input asp-for="LastName" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="PreviousLastName1" class="control-label">Previous Last Name #1</label>
                    <input asp-for="PreviousLastName1" class="form-control">
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="PreviousLastName2" class="control-label">Previous Last Name #2</label>
                    <input asp-for="PreviousLastName2" class="form-control">
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="PreviousLastName3" class="control-label">Previous Last Name #3</label>
                    <input asp-for="PreviousLastName3" class="form-control">
                </div>

            </div>

            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="PreferredName" class="control-label">Preferred Name</label>
                    <input asp-for="PreferredName" class="form-control">
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="DOB" class="control-label">Date of Birth<span style="color:red;">*</span></label>
                    <input type="date" asp-for="DOB" class="form-control">
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="YearsLivingInOregon" class="control-label">Years Living in Oregon<span style="color:red;">*</span></label>
                    <input type="number" class="form-control" asp-for="YearsLivingInOregon" placeholder="year" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-8">
                    <label asp-for="Address" class="control-label">Address<span style="color:red;">*</span></label>
                    <input asp-for="Address" class="form-control" id="address" placeholder="">
                </div>

                <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                    <label asp-for="City" class="control-label">City<span style="color:red;">*</span></label>
                    <input asp-for="City" class="form-control" id="city" placeholder="">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="State" class="control-label">State<span style="color:red;">*</span></label>
                    <select  asp-for="newPickedStateID" id="state" class="form-control">
                        @foreach (State s in Model.AllStates)
                        {
                            if (s.StateName == Model.State.StateName) { <option selected="selected" value="@s.StateID">@s.StateName</option> }
                            else { <option value="@s.StateID">@s.StateName</option> }
                        }
                    </select>
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="Zip" class="control-label">Zip<span style="color:red;">*</span></label>
                    <input asp-for="Zip" class="form-control" id="zip" placeholder="">
                </div>

                
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                   
                        <label asp-for="PreviousStates" class="control-label">Previous states lived in:<span style="color:red;">*</span></label>
                 
                    <select id="PreviousStates" name="PreviousStates" class="selectpicker form-control" data-size="5" multiple="multiple">
                            @foreach (State s in Model.AllStates)
                            {
                                if (Model.PreviousStates.Contains(s))
                                {
                                    <option value="@s.StateID" checked="checked">@s.StateName</option>
                                }
                                else
                                {
                                    <option value="@s.StateID">@s.StateName</option>
                                }
                            }
                        </select>
</div>
            </div>

            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="CellPhone" class="control-label">Cell Phone<span style="color:red;">*</span></label>
                    <input type="tel" asp-for="CellPhone" class="form-control" />
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="AlternatePhone" class="control-label">Alternate Phone</label>
                    <input type="tel" asp-for="AlternatePhone" class="form-control" />
                </div>
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox" asp-for="HasLivedOutsideUSA"><strong>I have lived outside US.</strong></label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-8">
                    <label asp-for="CurrentEmployer" class="control-label">Current Employer<span style="color:red;">*</span></label>
                    <input asp-for="CurrentEmployer" class="form-control" id="curEmployer" placeholder="">
                </div>
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="JobTitle" class="control-label">Job Title</label>
                    <input asp-for="JobTitle" class="form-control" />
                </div>
            </div>
        </div>


        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
        {
            <div class="btn-group col-xs-12 col-sm-3"></div>

            Html.RenderPartial("ApproveDeny.cshtml");

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i> </button>
            </div>
        }
        else
        {
            <div class="btn-group col-xs-12 col-sm-3"></div>

            <div class="col-sm-6"></div>

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }

        </form>