@model CoachInterestViewModel
@{
    ViewBag.Title = "Coach Interests";
}

    <h1 class="text-center">Coaching Interests</h1><br />
    <form asp-controller="Application" asp-action="CoachInterests" method="post">
        <input type="hidden" asp-for="@Model.ApplicationID" value="@Model.ApplicationID" />
        <input type="hidden" asp-for="@Model.newPickedAreaID" />
        <input type="hidden" asp-for="@Model.newPickedSchoolID"/>
        <input type="hidden" asp-for="@Model.newPickedSportID" />

        <div class="well">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <h4>Coaching position sought:</h4>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <h5><input type="checkbox" asp-for="IsHeadCoach" style="font-weight: bold;"> Head Coach </h5>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <h5><input type="checkbox" asp-for="IsAssistantCoach" style="font-weight: bold;"> Assistant Coach </h5><br />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                   
                        <label asp-for="Sport" class="control-label">Sport</label>
                        <select asp-for="newPickedSportID" class="form-control">
                            <option value="0">Any</option>
                                @foreach (Sport s in Model.AllSports)
                                {
                                    if (Model.Sport.SportID == s.SportID)
                                    {
                                        <option value="@s.SportID" selected="selected">@s.SportName</option>
                                    }
                                    else
                                    {
                                        <option value="@s.SportID">@s.SportName</option>
                                    }
                                }
                            </select>
                </div>
                    


                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    
                        <label asp-for="Area" class="control-label">Area</label>
             
                        <select asp-for="newPickedAreaID"  class="form-control">
                            <option value="0">Any</option>
                            @foreach (Area a in Model.AllAreas)
                            {
                                if (Model.Area.AreaID == a.AreaID)
                                {
                                    <option value="@a.AreaID" selected="selected">@a.AreaName</option>
                                }
                                else
                                {
                                    <option value="@a.AreaID">@a.AreaName</option>
                                }
                            }

                        </select>
                    </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="School" class="control-label">School</label>
                    <select asp-for="newPickedSchoolID" class="form-control">
                        <option value="0">Any</option>
                        @foreach (School s in Model.SchoolsByArea)
                        {
                            if (Model.School.SchoolID == s.SchoolID)
                            {
                                <option value="@s.SchoolID" selected="selected">@s.SchoolName</option>
                            }
                            else
                            {
                                <option value="@s.SchoolID">@s.SchoolName</option>
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="Gender" class="control-label">Gender<br />  Preference</label>

                    <select asp-for="Gender" class="form-control">
                        <option value="Any">Any</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>

                    </select>
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                  
                        <label asp-for="GradePreference" class="control-label">Grade<br /> Preference</label>
                        
                        <select  asp-for="GradePreference" class="form-control">
                            <option value="">Any</option>
                            @foreach (var g in Model.AllGrades)
                            {
                                <option value="@g.GradeName">@g.GradeName</option>
                            }

                        </select>
                    </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label asp-for="ChildTeam" class="control-label">If coaching child's team, please note his/her name</label>
                    <input asp-for="ChildTeam" class="form-control" id="childTeam" placeholder="">
                    <span asp-validation-for="ChildTeam" class="text-danger"></span>
                </div>
            </div>

            <div class="row" style="margin-top:40px">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                
                        <label asp-for="PreviousExperience" class="control-label">Previous Experience</label>
                        
                        <select asp-for="PreviousExperience"
                                asp-items="@(new SelectList(Model.AllExperience, "ExperienceID", "ExperienceName"))" class="selectpicker form-control" data-size="5" multiple="multiple">
                        </select>
                    </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-8">
                    
                </div>
            </div>
        </div>

        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            Html.RenderPartial("ApproveDeny.cshtml");

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }
        else
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            <div class="col-sm-6"></div>

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }

    </form>

<script>
    // Hard Coded associative arrays of schools by area for UX
    var sEugeneSchools = {
        'camasRidge' : 'Camas Ridge',
        'charlamagne' : 'Charlamagne',
        'edgewood': 'Edgewood',
        'edison': 'Edison',
        'farHorizonsMontessori': 'Far Horizon Montessori',
        'oharaCatholic': "O'Hara Catholic",
        'oakhill': 'Oak Hill',
        'ridgelineMontessori': 'Ridgeline Montessori',
        'rooselvelt': 'Rooselvelt',
        'spencerButte': 'Spencer Butte',
        'southEugene': 'South Eugene',
        'theVillageSchool': 'The Village School',


    };

    var springfieldSchools = {
        'agnesStewart' : 'Agnes Stewart',
        'briggs' : 'Briggs',
        'centinnial' : 'Centinnial',
        'douglasGardens' : 'Douglas Gardens',
        'guyLee' : 'Guy Lee',
        'hamlin' : 'Hamlin',
        'maple' : 'Maple',
        'mtVernon' : 'Mt Vernon',
        'page' : 'Page',
        'pleasantView' : 'Pleasant View',
        'ridgeView' : 'Ridge View',
        'riverBend' : 'River Bend',
        'springfield' : 'Springfield',
        'thurston' : 'Thurston',
        'twoRiversDosRios' : 'Two River/Dos Rios',
        'walterville' : 'Walterville',
        'yolanda' : 'Yolanda'


    };

    var nEugeneSchools = {
        'aubreyPark' : 'Aubrey Park',
        'corridor' : 'Corridor',
        'howard' : 'Howard',
        'northEugeneElCaminoReal': 'North Eugene/El Camino Real',
        'springCreek': 'Spring Creek',
        'yujinGakuen': 'Yujin Gakuen'

    };

    var sheldonSchools = {
        'berthaHolt' : 'Bertha Holt',
        'buenaVista' : 'Buena Vista',
        'calYoung' : 'Cal Young',
        'coburgCharter': 'Coburg Charter',
        'eugeneChristian': 'Eugene Christian',
        'gilham': 'Gilham',
        'maristChristian': 'Marist Christian',
        'sheldon': 'Sheldon',
        'monroe': 'Monroe',
        'stPaulCatholic': 'St Paul Catholic',
        'willagillespie': 'Willagillespie',

    };

    var churchillSchools = {
        'adams': 'Adams',
        'ataJefferson': 'ATA/Jefferson',
        'cesarChavez': 'Cesar Chavez',
        'familySchool': 'Family School',
        'kennedy': 'Kennedy',
        'mcCornack': 'McCornack',
        'twinOaks': 'Twin Oaks',
        'willametteChristian': 'Willamette Christian'

    };

    var willametteSchools = {
        'cascade': 'Cascade',
        'clearLake': 'Clear Lake',
        'danebo': 'Danebo',
        'fairfield': 'Fairfield',
        'irving': 'Irving',
        'kalapula': 'Kalapula',
        'malabon': 'Malabon',
        'meadowView': 'Meadow View',
        'prairieMtn': 'Prairie Mtn',
        'shasta': 'Shasta',
        'willamette': 'Willamette'
    };


  // fires when the page loads
    $(document).ready(function () {
        //fires when an area is selected from the select list with the id 'area'
        $("#area").change(function () {
            //checks to see which value has been selected and calls the function
            //to load schools based on selected area
            if ($(this).val() == 'SouthEugene')
                listSchoolsByArea(sEugeneSchools);

            else if ($(this).val() == 'Springfield')
                listSchoolsByArea(springfieldSchools);

            else if ($(this).val() == 'NorthEugene')
                listSchoolsByArea(nEugeneSchools);

            else if ($(this).val() == 'Sheldon')
                listSchoolsByArea(sheldonSchools);

            else if ($(this).val() == 'Churchill')
                listSchoolsByArea(churchillSchools);

            else if ($(this).val() == 'Willamette')
                listSchoolsByArea(willametteSchools);

            else
                $("#school").children('option:not(:first)').remove();
        });
    });
    function listSchoolsByArea(schoolArea)
    {
        //selects the list box with the id 'school' and removes all
        //options excluding the first.
        $("#school").children('option:not(:first)').remove();
        //loops through the parameter array and appends an option element
        //to the school list foreach element in the given
        //associative array {value, text } pair
        $.each(schoolArea, function (val, text) {

            $("#school").append($('<option>', { value: val, text: text }));
        });

    }

</script>




