@model IndexViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Hello, @Model.UserFirstName.</h1>

<form asp-action="Index" asp-controller="Application" method="post">
    <div class="well">
        @if (Model.ApplicationID != 0)
        {
            <input type="hidden" asp-for="@Model.ApplicationID" value="@Model.ApplicationID"/>

             @*<h3>
                Your application is pending completion.
                <br /> Please refer to the chart below for further information and take appropriate action.
            </h3>*@


            @*<table class="table table-responsive">
                <thead>
                    <tr><td colspan="12" style="font-weight:bold;">Application status is indicated by the colors below.</td></tr>
                    <tr>
                        <td class="bg-success col-xs-3" style="font-weight:bold;">Accepted</td>
                        <td class="bg-warning col-xs-3" style="font-weight:bold;">Pending approval</td>
                        <td class="bg-danger col-xs-3" style="font-weight:bold;">Needs to be completed</td>
                    </tr>
                </thead>
            </table>


            </div>*@

        @* Coach Information *@

                    <div class="row">
                        <div class="text-left col-xs-5 col-sm-3 col-md-2">
                            <div class="bowl text-left" style="float:left;">
                                <div class="inner">
                                    <div class="@Model.getFillCoachInfoClass()">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 150 150" xml:space="preserve">
                                        <path class="@Model.getCoachInfoClass()" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
                                    c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
                                    c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                                </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-7 col-sm-9 col-md-10 text-left">
                            <input type="submit" class="text-left" style="text-decoration:underline; text-decoration-color:green; margin-top:10px; margin-left: -20px; color:black; font-size: 25px; border: 0; background: none; box-shadow:none; border-radius: 0px;" name="PageName" value="Information" />
                            <p>test asdjklasdlkjad aslk;djalskdj aslkdjalkdjalkd ja ljasdljasldk alsdkjaldskjl aksdjlaskjdlk jalskjdaslkdjasldkjasl kjals l jkasdlkjadlkja dllakj laskdjlakj sdlka lakjds</p>
                        </div>
                    </div>


                    @* Coach Interests *@
                    <div class="row">
                        <div class="text-left col-xs-5 col-sm-3 col-md-2">
                            <div class="bowl text-left" style="float:left;">
                                <div class="inner">
                                    <div class="@Model.getFillCoachInterestClass()">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <path class="@Model.getCoachInterestClass()" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
	                                c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
	                                c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                                </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-7 col-sm-9 col-md-10 text-left">
                            <input type="submit" style="text-decoration:underline; text-decoration-color:green; margin-top:10px; margin-left: -20px; color:black; font-size: 25px; border: 0; background: none; box-shadow:none; border-radius: 0px;" name="PageName" value="Interests" />
                            <p>test asdjklasdlkjad aslk;djalskdj aslkdjalkdjalkd ja ljasdljas ldkalsdkjaldskjl aksdjlaskjdlk jalskjdaslkdjasldkjasl kjals l jkasdlkjadlkja dllakj laskdjlakj sdlka lakjds</p>
                        </div>
                    </div>


                    @* Coaches Pledge *@
                    <div class="row">
                        <div class="text-left col-xs-5 col-sm-3 col-md-2">
                            <div class="bowl text-left" style="float:left;">
                                <div class="inner">
                                    <div class="@Model.getFillCoachPledgeClass()">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <path class="@Model.getCoachPledgeClass()" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
	                                c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
	                                c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                                </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-7 col-sm-9 col-md-10 text-left">
                            <input type="submit" style="text-decoration:underline; text-decoration-color:green; margin-top:10px; margin-left: -20px; color:black; font-size: 25px; border: 0; background: none; box-shadow:none; border-radius: 0px;" name="PageName" value="Pledge" />
                            <p style="margin-left:0px">test asdjklasdlkjad aslk;djalskdj aslkdjalkdjalkd ja ljasdljasldk alsdkjaldskjlaks djlaskjdlk jalskjdaslkdjasldkjasl kjals l jkasdlkjadlkja dllakj laskdjlakj sdlka lakjds</p>
                        </div>
                    </div>


                    @* NFHS Course *@
                    <div class="row">
                        <div class="text-left col-xs-5 col-sm-3 col-md-2">
                            <div class="bowl text-left" style="float:left;">
                                <div class="inner">
                                    <div class="@Model.getFillCoachNFHSClass()">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <path class="@Model.getCoachNFHSClass()" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
	                            c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
	                            c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                            </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-7 col-sm-9 col-md-10 text-left">
                            <input type="submit" style="text-decoration:underline; text-decoration-color:green; margin-top:10px; margin-left: -20px; color:black; font-size: 25px; border: 0; background: none; box-shadow:none; border-radius: 0px;" name="PageName" value="NFHS Course" />
                            <p>test asdjklasdlkjad aslk;djalskdj aslkdjalkdjalkd ja ljasdlja sldkalsdkja ldskjlaksd jlaskjdlk jalskjdaslkdjasldkjasl kjals l jkasdlkjadlkja dllakj laskdjlakj sdlka lakjds</p>
                        </div>
                    </div>


                    @* PCA Course *@
                    if (Model.Application.IsHeadCoach == true)
                    {
                    <div class="row">
                        <div class="text-left col-xs-5 col-sm-3 col-md-2">
                            <div class="bowl text-left" style="float:left;">
                                <div class="inner">
                                    <div class="@Model.getFillCoachPcaClass()">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <path class="@Model.getCoachPcaClass()" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
	                            c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
	                            c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                            </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-7 col-sm-9 col-md-10 text-left">
                            <input type="submit" style="text-decoration:underline; text-decoration-color:green; margin-top:10px; margin-left: -20px; color:black; font-size: 25px; border: 0; background: none; box-shadow:none; border-radius: 0px;" name="PageName" value="PCA Course" />
                            <p>test asdjklasdlkjad aslk;djalskdj aslkdjalkdjalkd ja ljasdljasl dkalsdkja ldskjlaks djlaskjdlk jalskjdaslkdjasldkjasl kjals l jkasdlkjadlkja dllakj laskdjlakj sdlka lakjds</p>
                        </div>
                    </div>
                    }


                    @* ID *@
                    <div class="row">
                        <div class="text-left col-xs-5 col-sm-3 col-md-2">
                            <div class="bowl text-left" style="float:left;">
                                <div class="inner">
                                    <div class="@Model.getFillCoachIDClass()">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <path class="@Model.getCoachIDClass()" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
	                        c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
	                        c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-7 col-sm-9 col-md-10 text-left">
                            <input type="submit" style="text-decoration:underline; text-decoration-color:green; margin-top:10px; margin-left: -20px; color:black; font-size: 25px; border: 0; background: none; box-shadow:none; border-radius: 0px;" name="PageName" value="ID" />
                            <p>test asdjklasdlkjad aslk;djalskdj aslkdjalkdjalkd ja ljasdljasldka lsdkjaldskj laksdjlaskjdlk jalskjdaslk djasldkjasl kjals l jkasdlkjadlkja dllakj laskdjlakj sdlka lakjds</p>
                        </div>
                    </div>


                    @* Badge *@
                    <div class="row">
                        <div class="text-left col-xs-5 col-sm-3 col-md-2">
                            <div class="bowl text-left" style="float:left;">
                                <div class="inner">
                                    <div class="@Model.getFillCoachBadgeClass()">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 300 300" xml:space="preserve">
                                        <path class="@Model.getCoachBadgeClass()" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
	                        c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
	                        c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-7 col-sm-9 col-md-10 text-left">
                            <input type="submit" style="text-decoration:underline; text-decoration-color:green; margin-top:10px; margin-left: -20px; color:black; font-size: 25px; border: 0; background: none; box-shadow:none; border-radius: 0px;" name="PageName" value="Badge" />
                            <p>test asdjklasdlkjad aslk;djalskdj aslkdjalkdjalkd ja ljasdljasldkalsdkjalds kjlaksdjlaskjdlk jalskjdaslkdjasldkjasl kjals l jkasdlkjadlkja dllakj laskdjlakj sdlka lakjds</p>
                        </div>
                    </div>
        }
        else
        {
                <h3 class="text-center">
                    You are not currently registered.<br />
                    Please click here to begin or renew your application.
                </h3>


                <div class="row">
                    <input type="submit" class="btn btn-success" value="Lets get started!" />
                </div>
                }

            </div>  
</form>

